[package]
name = "lemmy-stats-crawler"
version = "0.1.0"
authors = ["Felix Ableitner"]
edition = "2018"

[dependencies]
reqwest = { version = "0.10.10", features = ["json"] }
serde = { version = "1.0.123", features = ["derive"] }
anyhow = "1.0.38"
tokio = { version = "0.2.25", features = ["full"] }
futures = "0.3.13"
serde_json = "1.0.64"
